{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{%endblock%}

{% block content %}
    <br>
    <img src="{% static 'main/img/cook.jpg' %}" class="mainimg" alt="cook">
    <div class="features">
        <h1>ҚАЗАҚТЫҢ ҰЛТТЫҚ ТАҒАМ ТҮРЛЕРІ</h1>
        <p>ҰЛТТЫҚ ТАҒАМ ТҮРЛЕРІН БІЛІП ЖҮРЕЙІК! Қазақ халқының дәстүрлі тағамдану жүйесі қоршаған экологиялық жүйемен және шаруашылығымен тығыз байланысты болды. Сондықтан қазақтың әрбір дәстүрлі тағамы денсаулыққа қажетті құндылық бола отырып, пайдасының зор екенін білеміз. Бұл ғылыми тұрғыдан да әлдеқашан дәлелденіп қойған. Қазақ халқының өмірінде ет тағамдары ең басты орынды иеленеді. Бұл тағам түрлерінің емдік, тұрмыстық қасиеттері бар. </p>
        <!-- <button class="btn btn-warning">Переход в след страницу about</button> -->
       <!--  {% for el in values %}
            {% if el == 'GN' %}
                {% filter lower %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {% for el in obj %}
                <p>{{ el|upper }}</p>
        {% endfor %} -->
    </div>
{% endblock %}